*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }

.arrow-up img{
  position:fixed;
  bottom:5%;
  background:#78E3FD;
  width:30px;
  height:30px;
  padding:5px;
  right:10px;
  display:inline-block;
  border-radius:10px;
  z-index:1000;
  transform:translateX(-50px);
  animation:arrow-up 1.5s linear infinite;
}
@keyframes arrow-up{
  0%{
    transform:translateY(10px);
  }
  50%{
    transform:translateY(-10px);
  }
  100%{
    transform:translateY(10px);
  }
}

 /*nav bar starts*/
.navbar{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  transition:0.5s;
     display:flex;
   align-items:center;
   justify-content:center;
   padding:20px 10px;
   z-index:1000;
}
.logo img{
  width:50px;
  height:50px;
  display:inline-block;
  position:relative;
  left:-110px;
}
.menu{
  width:25px;
  height:25px;
  position:relative;
  right:-120px;
  display:inline-block;
}

#toggle.active{
  background:#ff0e76;
}
#toggle{
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.2s;
  padding-top:10px;
  z-index:10000;
}
#toggle.active::before{
transform:translateY(0px) rotate(45deg);
box-shadow:0 0 0 #fa006c;
}
#toggle::before{
  content:'';
  position:absolute;
  background:#fa006c;
  width:26px;
  height:4px;
  transition:0.2s;
  box-shadow:0 10px 0 #000;
  transform:translateY(-10px);
}
#toggle::after{
  content:'';
  position:absolute;
  background:black;
  width:26px;
  height:4px;
  transition:0.2s;
  background:#fa006c;
  transform:translateY(10px);
}
#toggle.active::after{
  transform:translateY(0px) rotate(-45deg);
}
.navigation{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
     display:flex;
   align-items:center;
   justify-content:center;
   z-index:0;
   visibility:hidden;
}
.navigation span{
  position:absolute;
  top:-100%;
  left:calc(25% * var(--i));
  width:25%;
  height:100%;
  transition:0.20s;
  background:#78E3FD;
  transition-delay:calc(.20s * var(--i));
}
.navigation.active span{
  top:0px;
}
.navigation.active{
  visibility:visible;
}
.navigation ul{
   z-index:1000;
      display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column;
   transform:translateX(-100px);
   opacity:0;
   visibility:hidden;
   transition:0.5s;
}
.navigation.active ul{
  visibility:visible;
  opacity:1;
  transform:translateX(0px);
  transition-delay:.5s;
}
.navigation ul li{
  list-style-type:none;
  margin:11px 0px;
}
.navigation ul li a{
  text-decoration:none;
  font-size:1.5rem;
  color:black;
  text-align:center;
   padding:10px;
  font-weight:bold;
  font-family: 'Handlee', cursive;
  transition:.5s;
}
.navigation ul li a:hover{
  letter-spacing:7px;
  font-size:1.7rem;
}
.sticky{
  background:#fff;
  padding:5px;
  box-shadow:0px 1px 50px #323232;
}
 /*nav bar starts*/
 
     /*hrader start*/
 header{
     background:linear-gradient(#2b1055,#7597de);
  height:450px;
 }


.space img:nth-child(1){
  width:150px;
  position:absolute;
  top:-5px;
  right:0px;
  height:150px;
  display:inline-block;
  z-index:2;
  animation:space 2s linear infinite;
}
@keyframes space{
  0%{
    transform:translateY(-20px);
  }
 50%{
   transform:translateY(0px);
 }
 100%{
   transform:translateY(-20px);
 }
}
.space img:nth-child(2){
  width:300px;
  position:relative;
  top:-280px;
  left:-80px;
  height:300px;
  display:inline-block;
  z-index:0;
   animation:space 3.5s linear infinite;
}
.stars img{
  position:absolute;
     display:flex;
   align-items:center;
   justify-content:center;
  width:320px;
  height:100vh;
}
.moon img{
   position:relative;
     display:flex;
   align-items:center;
   justify-content:center;
  width:320px;
  height:320px;
  top:-153vh;
  left:-10px;
  z-index:90;
}
.bottom img{
  width:320px;
  position:relative;
  top:-400px;
  z-index:100;
}
.board{
  position:relative;
  top:-40px;
  z-index:1;
     display:flex;
   align-items:center;
   justify-content:center;
}
.board img{
  width:250px;
  height:250px;
}



/*menu bar*/
.menubar{
  position:absolute;
  top:200px;
  right:10px;
  transform:scale(.8);
  z-index:200;
}
.bar{
   background:grey;
   width:60px;
   height:210px;
   float:right;
   border-radius:10px;
}
.icon-box{
   width:45px;
   height:45px;
   display:flex;
   justify-content:flex-end;
   margin:5px auto;
   position:relative;
   left:2px;
}
.side-text{
   min-width:0px;
   height:100%;
   background:#78E3FD;
   margin-right:5px;
   line-height:0;
   color:black;
   display:flex;
   border-radius:5px 0 0 5px;
   align-items:center;
   justify-content:center;
   overflow:hidden;
   transition:.5s;
}
.side-text p{
  font-size:1.5rem;
  font-weight:bold;
  font-family: 'Akaya Telivigala', cursive;
}
.icon{
   min-width:50px;
   height:100%;
   border-radius:5px;
   position:relative;
      display:flex;
   align-items:center;
   justify-content:center;
}
.icon img{
   width:35px;
   height:35px;
   line-height:50px;
   color:white;
   position:absolute;
   padding:3px;
}
.icon-box:hover .icon{
   background:#78E3FD;
}
.icon-box:hover .side-text{
   min-width:100px;
}
header::after{
  content:'';
  display:table;
  clear:both;
}

        /*hrader ends*/
        
        /*Banner Start*/
.profile{
  background:#7597de;
  padding:50px 0px 100px 0px;

}   
.profile h1:nth-child(1){
  font-size:1.5rem;
  color:white;
  text-align:center;
  font-family: 'Handlee', cursive;
}
.profile h1:nth-child(2){
  font-size:2.5rem;
  color:white;
  text-align:center;
  padding:10px 2px;
  font-family: 'Handlee', cursive;
}
.profile p{
  color:white;
  font-family: 'Raleway', sans-serif;
  text-align:center;
}
        
        
/*ripple button*/
.button{
 
   
}
.btn{
  text-decoration:none;
  font-size:1.2rem;
  padding:20px;
  background:#20282a;
  border-radius:15px;
  color:white;
  position:absolute;
  overflow:hidden;
  top:760px;
  left:80px;
  z-index:300;
  
}
.btn span{
  position:relative;
  z-index:200;
  font-family: 'Raleway', sans-serif;
}
.btn::before{
  content:'';
  position:absolute;
  top:var(--y);
  left:var(--x);
  transform:translate(-50%,-50%);
  width:0px;
  height:0px;
  border-radius:50%;
  background:#78E3FD;
  transition:width 0.5s,height 0.5s;
}
.btn:hover::before{
width:400px;
height:450px;
}
.btn:hover{
  color:black;
}
        
        /*Banner end*/